################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WGSErpApp/bin/WGSErpApp.dll
/WGSErpApp/obj/Release
