
@{
    ViewBag.Title = "SalesIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Sales</h4>

<div class="form-button menu-w">
    @Html.ActionLink("Customer Order", "CustomerOrder")
</div>

<div class="form-button menu-w">
    @Html.ActionLink("Sales Invoice", "PendingSalesInvoice")
</div>