@{
    ViewBag.Title = "Contact";
}
<h2>IHits Technologies </h2>
<h3>ERP for Production</h3>

<address>
    45/2024E, 2nd Floor, Sabari Associates, P J Cochin-12,<br />
     PJ Antony Rd, Pachalam, Kochi, Kerala 682012<br />

    <abbr title="Phone">P:</abbr>
    0484 606 0141
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@ihitsindia.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">sales@ihitsindia.com</a>
</address>